<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ServerHostname" value="localhost" />
        <add key="ActualDatabaseName" value="TEST_ACTUAL" />
        <add key="ObjectiveDatabaseName" value="TEST_OBJECTIVE" />
        <add key="Collation" value="Latin1_General_CI_AI" />
        <add key="User" value="username" />
        <add key="Password" value="yourpassword" />
    </appSettings>
</configuration>